<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scott.neptune.user.mapper.FriendRelationMapper">

    <resultMap id="BaseResultMap" type="com.scott.neptune.userapi.entity.FriendRelation">
        <result column="from_id" property="fromId"/>
        <result column="to_id" property="toId"/>
        <result column="follow_date" property="followDate"/>
        <result column="follow_from" property="followFrom"/>
    </resultMap>

    <sql id="Base_Column_List">
        from_id, to_id, follow_date, follow_from
    </sql>

    <!-- 判断指定关系是否存在 -->
    <select id="exists" parameterType="com.scott.neptune.userapi.entity.FriendRelation"
            resultType="boolean">
        select count(1)
        from t_friend_relation
        <where>
            <if test="relation != null">
                <if test="relation.fromId != null and relation.fromId != ''">
                    and from_id = #{relation.fromId}
                </if>
                <if test="relation.fromId != null and relation.fromId != ''">
                    and from_id = #{relation.fromId}
                </if>
            </if>
        </where>
    </select>

    <!-- 删除指定关系 -->
    <delete id="delete" parameterType="com.scott.neptune.userapi.entity.FriendRelation">
        delete
        from t_friend_relation
        where from_id = #{relation.fromId}
          and to_id = #{relation.toId}
    </delete>

    <!-- 获取指定关系 -->
    <select id="getOne" parameterType="com.scott.neptune.userapi.entity.FriendRelation"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_friend_relation
        <where>
            <if test="relation != null">
                <if test="relation.fromId != null and relation.fromId != ''">
                    and from_id = #{relation.fromId}
                </if>
                <if test="relation.toId != null and relation.toId != ''">
                    and to_id = #{relation.toId}
                </if>
            </if>
        </where>
        limit 1
    </select>

    <!-- 查找符合条件的关系 -->
    <select id="findAll" parameterType="com.scott.neptune.userapi.entity.FriendRelation"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_friend_relation
        <where>
            <if test="relation != null">
                <if test="relation.fromId != null and relation.fromId != ''">
                    and from_id = #{relation.fromId}
                </if>
                <if test="relation.toId != null and relation.toId != ''">
                    and to_id = #{relation.toId}
                </if>
            </if>
        </where>
        order by follow_date desc
    </select>

</mapper>